@import "./styles/colors.css";

/* --------reset css */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: inherit;
  color: inherit;
}
html,
body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
body {
  background-color: #7d0505;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

head {
  display: flex;
  width: 100%;
}
.main_navbar {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* centre le texte dans main */
}

.eagisbank {
  color: #fff;
  font-size: 1rem;
  padding-left: 15px;
}

.header_button_container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-bottom: -120px;
  background-color: #7d0505;
}

.login {
  font-size: 1rem;
  color: black;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid black;
  margin-bottom: 150px;
  border-radius: 10px;
}

.signup {
  font-size: 1.3rem;
  color: black;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid black;
  margin-bottom: 150px;
  border-radius: 10px;
}
a.burger {
  font-size: 0.5em;
  color: black;
}

.burger_menu {
  background-color: #7d0505;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9rem;
}

h1 {
  color: var(--main-color);
  text-shadow: 0 0 5px, 0 0 10px, 0 0 15px, 0 0 20px #fff, 0 0 30px, 0 0 40px,
    0 0 55px, 0 0 75px;
  text-transform: uppercase;
  text-transform: initial;
  text-align: center;
  transform: scale(2);
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 30px;
  font-size: 1.3rem;
}

p.slogan {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.3rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  text-shadow: 0 0 5px #82fafa, 0 0 10px #82fafa, 0 0 15px #82fafa,
    0 0 20px #82fafa, 0 0 30px #82fafa, 0 0 40px #82fafa, 0 0 55px #82fafa,
    0 0 75px #82fafa;
  transform: scale(3);
  display: flex;
  margin: 33%;
  padding-left: 33%;
  padding-right: 33%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 5px;
}

.promotion_card {
  border: 1px black solid;
  text-align: center;
  text-align: start;
  height: 130px;
  width: 100px;
  color: yellow;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.main_body_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0.75rem auto;
  width: min(96%, 420px);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-in-left 3s ease forwards;
  animation-delay: 0.1s;
}

.btn_download {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  text-align: center;
  color: white;
  height: 130px;
  width: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: slide-in-right 3s ease forwards;
  animation-delay: 0.3s;
}
.download_app {
  color: white;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.social_links_container {
  display: flex;
  gap: 20px;
}

.legal_mention_container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  color: black;
}

p.slogan {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.main_body_card p,
.main_body_card a {
  text-align: center;
}

.rotator-rotor-placeholder {
  display: none;
}
.rotator-flip {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  perspective: 600px;
  height: 1em;
  line-height: 1em;
}
.rotator-flip span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  transform-origin: center;
  transform: rotateX(90deg);
  opacity: 0;
  animation: flipWords 7s infinite;
  color: inherit;
  font: inherit;
}
.rotator-flip span:nth-child(1) {
  animation-delay: 0s;
}
.rotator-flip span:nth-child(2) {
  animation-delay: 2.5s;
}

@keyframes flipWords {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  8% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  33% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  41% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
